.input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    justify-content: center; 
}

.input label {
    color: #fff;
    font-weight: bold;
}

.input input {
    background-color: #2a2d3e;
    border: 2px solid #3f445e;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;
    width: 200px;
}

.input input:focus {
    border-color: #3a3a60;
}