.container {
  text-align: center;
  padding: 2rem;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.containerMovieCard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.containerForm {
  display: flex;
  justify-content: center;
}

.filtros {
  background-color: #1e1e2f;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center; 
  margin: 20px auto;
  max-width: 900px;
}

.seccionOrden {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  padding: 10px;
  border-top: 1px solid #333;
}