.container {
  text-align: center;
  padding: 2rem;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.containerMovieCard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.containerForm {
  display: flex;
  justify-content: center;
}