.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;

  background-color: #1e1e1e;
  border-radius: 12px;
}

.form label {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
}

.form input,
.form select {
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #2a2a2a;
  color: white;
}

.form input::placeholder {
  color: #aaa;
}

.form input[type="file"] {
  background-color: #2a2a2a;
  color: #fff;
  cursor: pointer;
}

.preview {
  margin-top: 10px;
  border-radius: 8px;
  object-fit: cover;
}